:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ELEMENTOS BASE */

body {
  background-color: var(--preta);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  letter-spacing: 5px
}

header nav a {
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}

header nav a:hover {
  color: var(--vermelho);
}

/* SHOW PRINCIPAL */
.show-principal {
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/twenty-one-piltos.jpg");
  background-size: cover;
  background-position: 100% 30%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  height: 400px;
}

.show-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titulo {
  font-size: 40px;
  font-family: "Arial Black";
  margin-top: 5%;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: 0.3s ease all;
  text-decoration: none;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.show-principal .container {
  width: 70%;
}

.box-show {
  display: block;
  height: 100%;
  width: 100%;
}

.carrosel-shows {
  margin-top: 5px;
}

footer {
  margin: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

.fab {
  font-size: 30px;
  margin-bottom: 15px;
  margin-right: 5px;
}
